* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nagykep-es-leptetogombok {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.elozo-kep-gomb,
.kovetkezo-kep-gomb {
  background: url("../kepek/nyilak.svg");
  background-size: cover;
  width: 60px;
  height: 60px;
  border: none;
  color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

.elozo-kep-gomb {
  background-position: left center;
}

.kovetkezo-kep-gomb {
  background-position: right center;
}

.elozo-kep-gomb:hover,
.kovetkezo-kep-gomb:hover {
  filter: brightness(70%);
}

.elozo-kep-gomb:active,
.kovetkezo-kep-gomb:active {
  transform: scale(1.2);
}

.nagykep {
  width: 800px;
  height: 534px;
}

.nagykep img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.szamlalo {
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
}

article {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  max-width: 1920px;
}

article img {
  width: 100%;
  border: 3px solid transparent;
  cursor: pointer
}

article img.szegely {
  border-color: #fff;
}

img {
  user-select: none;
}
