* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  padding: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bal {
  background: url("../kepek/balra-nyil.svg");
}

.jobb {
  background: url("../kepek/jobbra-nyil.svg");
}

.bal,
.jobb {
  width: 50px;
  height: 50px;
  border: none;
  color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.bal:hover,
.jobb:hover {
  filter: brightness(70%);
}

.bal:active,
.jobb:active {
  transform: scale(1.2);
}

.nagykep {
  width: 800px;
  height: 534px;
}

.nagykep img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.szamlalo {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

article {
  display: flex;
}

article img {
  width: 20%;
  border: 3px solid transparent;
}

article img.szegely {
  border-color: #fff;
}

img {
  user-select: none;
}
